$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$plomo-claro: #e1e1e1;

//mediaqueries
$telefono: 480px;
$tablet: 768px;
$escritorio: 1200px;
$escritorio_grande: 1400px;