@use '../base/variables' as v;
@use '../base/mixins' as m;

.sobre-festival {
    padding: 2.5rem 0;
    @include m.contenedor;

    @include m.tablet {
        padding: 10rem 0;
        @include m.grid(2);
    }
}
.contenido-festival {
    margin-top: 2rem;
    h2 {
        margin-bottom: 3rem;
    }
    .fecha {
        color: v.$verde;
        font-weight: 700;
    }
}