@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color'; // import color functions de sass

.video {
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            270deg,
            rgba(v.$morado, 60%),
            rgba(color.adjust(v.$morado, $lightness: -20%), 90%)
        );
        display: flex;
        align-items: center;
    }
    video {
        display: block;
        width: auto;
        @include m.escritorio {
            width: 100%;
        }
    }
}

.contenedor-video {
    z-index: 10;
    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    p {
        background-color: v.$rosa;
        color: v.$blanco;
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 700;
        padding: 1rem 2rem;
        margin: 0;
    }
}